.contact-heading::after{
    content: '';
    position: absolute;
    /* width: calc(100%/3); */
    width: 25%;
    top: 30px;
    left: 0;
    height: 1px;
    padding: 1px;
    background-color: white;
    cursor: pointer;
    transition: 1s;
}
.contact-heading:hover::after{
    width: 40%;
    /* left: 5px; */
    animation: animation 2s 1s;
}

@keyframes animation {
    10%{
        width: 40%;
    }50%{
        width: 100%;
    }100%{
        width: 40%;
    }
}